# MockAI Frontend Environment Variables
# Copy this file to .env and fill in your values

VITE_API_URL=http://127.0.0.1:8000/admin
VITE_API_BASE=http://127.0.0.1:8000

VITE_GOOGLE_CLIENT_ID=241282110466-461tgmm58u101naprguqjgvj48spsnmb.apps.googleusercontent.com
